*{
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8ac8e
}

.principal{
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 19rem;
  height: 20rem;
  background-color: #f78d46;
  border-radius: 15px;
  margin: 50px auto;
  color: #ffffff;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
  width: 19rem;
  height:2.5rem;
  background-color: #f78d46;
  color: #ffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 10px;

}

.titulo{
    flex-direction: column;
  display: flex;
  text-align: center;
  width: 19rem;
  height: 5rem;
  background-color: #f78d46;
  border-radius: 15px;
  margin: 50px auto;
  color: #ffffff;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.sub{
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 10rem;
  height: 5rem;
  background-color: #f78d46;
  border-radius: 15px;
  margin: 5px auto;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.valor-1, .valor-2{
     border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
  outline: none;
  flex-direction: column;
  display: block;
  width: 15rem;
  padding: 0.8rem;
  background-color: #3b1e12;
  color: #fff;
}

.Pvalor-1, .Pvalor-2{
  border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
  outline: none;
  flex-direction: column;
  display: block;
  width: 15rem;
  padding: 0.8rem;
  background-color: #3b1e12;
  color: #fff;
}

.btn{
  height: 2.5rem;
  width: 8rem;;
  background-color: #a76611;
  text-align: center;
  margin: 5px auto;
  border-radius: 2rem;
  border: #f78d46;

 
}

